@media (max-width: 767px) {
    body {
        min-height: 100vh;
    }

    * {
        margin-bottom: 10px;
    }

    section:first-of-type {
        min-width: max-content;
        min-height: 23vh; 
        background-color: green;
    }

    header {
        min-width: max-content;
        height: 10vh; 
        background-color: lightskyblue;
    }

    section article:nth-child(1),
    section article:nth-child(2) {
        min-height: 23vh; 
        background-color: yellow;   
    }

    footer {
        min-height: 10vh; 
        background-color: red;
    }
}
